<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Getting MEAN</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>
  <script src="/app/services/auth.js"></script>
  <script src="/app/services/app.js"></script>
  <script src="/app/services/users.js"></script>
  <script src="/app/controllers/app.js"></script>
  <script src="/app/routes.js"></script>

  <!-- set the base path for angular routing -->
  <base href="/">
</head>
<body ng-app="app" ng-controller="controllerMain as controller" class="container">
  <header class="container">
    <div class="navbar navbar-default">
      <ul class="nav navbar-nav" ng-if="user.isLoggedIn">
        <li><a href="/">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!user.isLoggedIn"><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li ng-if="user.isLoggedIn"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Hello {{ user.name }}!</a></li>
        <li ng-if="user.isLoggedIn"><a href="#" ng-click="controller.doLogout()">Logout</a></li>
      </ul>
    </div>
  </header>
  <main class="container">
    <div class="col-sm-12">
      <div class="jumbotron" ng-if="controller.App.message">
        {{ controller.App.message }}
      </div>
      <div ng-view></div>
    </div>
  </main>
  <footer class="container">
    <div class="col-sm-12">
      <p>One nation. No gods.</p>
    </div>
  </footer>
</body>
</html>